@model IEnumerable<NewVendorViewModel>
@{ ViewBag.Title = "New Vendor Requests";}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Vendor Requests</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-left" asp-action="Create">New Request</a>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Requester</th>
                                    <th>Folder</th>
                                    <th>Role/Title</th>
                                    <th>Description</th>
                                    <th>Owner Manager</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No Model Data</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Detail" asp-route-id="@item.Id">
                                                </a>
                                            </td>
                                            <td>@item.Requester</td>
                                            <td>@item.Folder</td>
                                            <td>@item.RoleTitle</td>
                                            <td>@item.Description</td>
                                            <td>@item.OwnerManager</td>                     


                                            <td>
                                                <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>
                                                <a class="text-success" asp-action="Detail" asp-route-id="@item.Id">
                                                    <i class="fas fa-bars"></i> Detail
                                                </a>
                                                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                    <i class="far fa-trash-alt"></i> Delete
                                                </a>
                                            </td>
                                         </tr>
                                    }
                                }


                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
